.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* MY CSS */
.todo-cards {
  display: inline-grid;
  border: 1px solid #212529;
  padding: 5rem 0;
  width: 100vw;
  max-width: 24rem;
  margin: 0.75rem;
  border-radius: 1rem;
}
.todo-cards:hover {
  border: 2px solid #b6b6b6;
  transition: 1s ease;
}
.bg-dark.text-light {
  min-height: 139px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ml-1 {
  margin-left: 5px;
}
input#title {
  width: 100%;
  max-width: 700px;
}
input#desc {
  width: 100%;
  max-width: 700px;
}
.form-label {
  margin-bottom: .5rem;
  width: 100%;
  text-align: justify;
}
.add-to-do-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}